name: Java CI
on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
  workflow_dispatch:
jobs:
  tests:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 8
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Run automated tests
        run: |
          mkdir ./java/src/main/resources/
          python3 scripts/src/load/merge_data.py -o ./java/src/main/resources/merged_data.json
          cd java
          ls src/main/resources
          ./gradlew ${GRADLE_ARGUMENTS} clean assemble test jacocoTestReport publishToMavenLocal | tee job.log
          cat job.log | grep -- " - Instruction Coverage: " | sed -e "s/.* //" > build/coverage.txt

