name: Python CI
on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
  workflow_dispatch:
jobs:
  tests:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Poetry
        run: |
          pipx install poetry
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: poetry
          cache-dependency-path: python/poetry.lock
      - name: Set Poetry environment
        run: |
          cd python
          poetry env use 3.11
      - name: Install dependencies
        run: |
          cd python
          poetry install --no-root
      - name: Run the automated tests
        run: |
          cd python
          poetry run coverage run --branch -m pytest -vv
          poetry run coverage report --omit="tests/*"
          poetry run coverage xml --omit="tests/*"
      - name: Test build
        run: |
          mkdir -p python/licenselynx/resources
          python3 scripts/src/load/merge_data.py -o ./python/licenselynx/resources/merged_data.json
          cd python
          poetry build
          python3 check_files.py


  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Poetry
        run: |
          pipx install poetry
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: poetry
          cache-dependency-path: python/poetry.lock
      - name: Set Poetry environment
        run: |
          cd python
          poetry env use 3.11
      - name: Install dependencies
        run: |
          cd python
          poetry install --no-root
      - name: Run the linting
        run: |
          cd python
          poetry run mypy licenselynx tests
          poetry run flake8 licenselynx
          poetry run flake8 tests
