name: Scripts CI
on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
  workflow_dispatch:
jobs:
  tests:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Poetry
        run: |
          pipx install poetry
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: poetry
          cache-dependency-path: scripts/poetry.lock
      - name: Set Poetry environment
        run: |
          cd scripts
          poetry env use 3.11
      - name: Install dependencies
        run: |
          cd scripts
          poetry lock
          poetry install --no-root
      - name: Run the automated tests
        run: |
          cd scripts
          poetry run coverage run --branch -m pytest -vv
          poetry run coverage report --omit="tests/*"
          poetry run coverage xml --omit="tests/*"



  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Poetry
        run: |
          pipx install poetry
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: poetry
          cache-dependency-path: scripts/poetry.lock
      - name: Set Poetry environment
        run: |
          cd scripts
          poetry env use 3.11
      - name: Install dependencies
        run: |
          cd scripts
          poetry install --no-root
      - name: Run the linting
        run: |
          cd scripts
          poetry run mypy src tests
          poetry run flake8 src
          poetry run flake8 tests
